/* Estilos generales de texto */
body {
    font-size: 16px;
    text-align: justify;
}

/* Navbar */
.navbar {
    background-color: #386b64 !important; /* Color azul oscuro con importancia */
}

.navbar a:hover {
    background-color: #0f8a7a !important; /* Azul más oscuro al hacer hover con importancia */
}

/* Logo encima del TOC */
#TOC::before {
    content: "";
    display: block;
    height: 150px;
    margin: 2em 20px 40px 20px;
    background-image: url("img/logo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* TOC ajustes generales */
#toc {
    font-size: 10px !important; /* Tamaño de letra más pequeño */
    width: 100% !important;
    border: none;
}

/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 3em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alert-info {
    background-color: #0e9a83;
    border-color: #007367;
    color: #ffffff;
    font-weight: 900;
}
